@font-face {
  font-family: "poppins";
  src: url(https://fonts.google.com/specimen/Poppins);
}

@font-face {
  font-family: "open sans";
  src: url(https://fonts.google.com/specimen/Open+Sans);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: hsl(257, 40%, 49%);
}

.header {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header img {
  margin-left: 100px;
  max-width: 100%;
  height: auto;
}

.section-main {
  display: flex;
}

.img-section {
  width: 50%;
  max-height: 100%;
}

.img-section img {
  width: 100%;
  height: auto;
  margin-left: 110px;
  margin-top: 50px;
}

.text-section {
  padding-top: 110px;
  padding-left: 55px;
}

.text-section-title {
  height: auto;
  width: 600px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  margin-bottom: 50px;
}

.text-section-para {
  height: auto;
  width: 680px;
  color: #fff;
  font-size: 25px;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  padding-bottom: 30px;
}

.text-sction-button {
  padding: 20px 70px;
  font-size: 18px;
  font-family: "open sans", sans-serif;
  color: hsl(257, 40%, 49%);
  background-color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
  cursor: pointer;
}

.text-sction-button:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

.footer {
  padding-top: 50px;
  width: 88%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.footer img {
  max-width: 25px;
  max-height: auto;
  height: 100%;
  width: 100%;
  filter: invert(10);
}

.footer-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-button:hover {
  border: 2px solid hsl(300, 69%, 71%);
}

@media screen and (max-width: 375px) {
  body {
    background-image: url(images/bg-mobile.svg);
  }
  .header {
    height: 60px;
  }
  .header img {
    margin-left: 30px;
    margin-top: 20px;
  }
  .section-main {
    flex-direction: column;
  }
  .img-section {
    max-width: 100%;
    width: 90%;
  }
  .img-section img {
    margin-left: 30px;
    margin-top: 60px;
  }
  .text-section {
    max-width: 100%;
  }
  .text-section-title {
    font-size: 25px;
    font-weight: 500;
    width: 90%;
    text-align: center;
  }
  .text-section-para {
    font-size: 20px;
    width: 90%;
    text-align: center;
  }
  .text-sction-button {
    padding-left: 100px;
    padding-right: 100px;
  }
  .footer {
    justify-content: center;
    width: 100%;
  }
}
